<!DOCTYPE html>
<html lang="en">

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>

    <div class="col-lg-8 col-xs-12">

        <div align="center" style="font-size: 240%; line-height: 70px; margin-top:12.5%;">

            Join the <span style="color: #3f87ff; font-size: 105%; !important"> dream </span> team
            <br>
            Machine Learning, Python, <span style="color: #3f87ff; font-size: 105%; !important"> MEAN </span> Stack
            <br>
            Interested in working or learning?
            <br> 
            Send a resume to  <br> <span style="color: #3f87ff; font-size: 105%; !important">  hello@sentisense.com </span>
          
        </div>

    </div>

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>    

</html>