<!DOCTYPE html>
<html lang="en">

    <div id="content" ng-app="QuadreplexApp" ng-controller="QuadreplexController">
            
        <row>
            <div class="col-lg-1"> </div>
                    
            <div class="col-lg-5" align="center"> 
                <br><br><br><br><br>
                <h2 class="green"> About </h3>
                <br>
                <p style="font-size: 18px !important;"> QuadrplexER provides a work flow for quickly analyzing quadruplexes. The process is designed to be completed in less than 5 minutes and in two steps. The process requires a basic knowledge of the command line. To complete an analysis begin by downloading the python program. Place the script in the same directory as the genome you wish to analyze and as the general feature format file you wish to associate with the genome. To contextualize the example assume we have a genome under the file name genome.fa. Assume we have a general feature format file for the genome named genes.gff. To run the analysis issue the following command:  <span class="green"> python genome.fa genes.gff </span>. The program will create a new file in the directory of the python script. The file will be names output.txt. This file contains the raw data around the analysis from your genome. To visualize and make sense of this output download the excel spread sheet. Copy all of the content above the "GFF File" line into the highlighted quadruplex box on the excel spread sheet. Then copy all of the content below the "GFF File" line into the highlighted gff box in the excel spread sheet. To the left of these boxes are the resulting analysis from the program. In these two step you have successfully completed the analysis of your genome. Congratulations! </p>
            </div>

            <div class="col-lg-5" align="center"> 
                
                <br><br><br><br>
                <br><br>
                
                <h2 class="green"> Download </h1>

                <br><br><br>

                <a href="https://s3-us-west-2.amazonaws.com/cmsp497f/quadrplex.py" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none; width: 25%;"> Python Script </a>
            
            	<br><br><br><br>            
                <a href="https://s3-us-west-2.amazonaws.com/cmsp497f/Analysis+Template.xlsx" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none; width: 25%;"> Excel Template </a>

                <br><br><br><br>            
                <a href="https://s3-us-west-2.amazonaws.com/cmsp497f/Final+Project+Report.pdf" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none; width: 25%;"> Documentation </a>

            </div>

            <div class="col-lg-1"> </div>
        </row>


    </div>   

</html>