<!DOCTYPE html>
<html lang="en">

    <div id="content" ng-app="QuadreplexApp" ng-controller="QuadreplexController">
            
        <row>
            <div class="col-lg-1"> </div>
                    
            <div class="col-lg-5" align="center"> 
                <br><br><br><br><br>
                <h2 class="green"> About </h3>
                <br>
                <p> QuadrplexER provides a work folow for quickly analyting quadlexes. The process is designed to be compelted in less than 5 minutes and in two steps. The process requires a basic knowledge of the command line. Begin by downloading the python program. From </p>
            </div>

            <div class="col-lg-5" align="center"> 
                
                <br><br><br><br>
                <br><br><br>
                
                <h2 class="green"> Download </h1>

                <br><br><br>

                <a href="https://s3-us-west-2.amazonaws.com/cmsp497f/quadrplex.py" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none; width: 25%;"> Python Script </a>
            
            	<br><br><br><br>            
                <a href="" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none;"> Excel Template </a>

                <br><br><br><br>            
                <a href="" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none;"> Documentation </a>

            </div>

            <div class="col-lg-1"> </div>
        </row>


    </div>   

</html>