<!DOCTYPE html>
<html lang="en">

    <div id="content" ng-app="QuadreplexApp" ng-controller="QuadreplexController">
            
        <row>
            <div class="col-lg-1"> </div>
                    
            <div class="col-lg-5" align="center"> 
                <br>
                <h3 class="green"> Sequence </h3>
                <br>
                <input type="text" ng-model="quadreplex" class="box">
            </div>

            <div class="col-lg-5" align="center"> 
                <br>
                <h3 class="green"> Feature </h3>
                <br>
                <input type="text" ng-model="featre" class="box">
            </div>

            <div class="col-lg-1"> </div>
        </row>

        <row>
            <div class="col-lg-12" align="center">
                <br><br><br><br>            
                <a href="" class="btn btn-info btn-lg" role="button" style="color: #fff; font-size: 20px; background-color: #5FA620; radius:10px; border: 0 none;"> Submit </a>
            </div>
        </row>

    </div>   

</html>