<!DOCTYPE html>
<html lang="en">

    <div id="content" ng-app="QuadreplexApp" ng-controller="QuadreplexController">
            
        <row>
            <div class="col-lg-1"> </div>
                    
            <div class="col-lg-5" align="center"> 
                
                <br><br><br><br><br>
                
                <h2 class="green"> About </h3>
                
                <!-- Input Box -->

            </div>

            <div class="col-lg-5" align="center"> 
                
                <br><br><br><br><br>
                
                <h2 class="green"> Download </h1>

                <!-- Input Box -->

            </div>

            <div class="col-lg-1"> </div>
        </row>


    </div>   

</html>