<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Senti Sense  </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type='text/css' media='all' />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/simple-sidebar.css" type='text/css' media='all' />

    <!-- Favicon -->
    <link rel="shortcut icon" type="/image/png" href="/images/fav_icon.png"/>

    <!-- Social Media Buttons -->
    <link rel="stylesheet" href="/css/reset.css" type='text/css' media='all' />
    <link rel="stylesheet" href="/css/style.css" type='text/css' media='all' />

    <link rel="stylesheet" href="/css/font-awesome.min.css" type='text/css' media='all' />
    
    <!-- Fonts --> 	
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

</head><!--/head-->



<body>

    <div id="wrapper">    

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- <li class="sidebar-brand"> -->                  
                        <!-- Sign In -->
                <!--
                        <div style="display: inline-block;"> <a href="" class="btn btn-info btn-lg" role="button" style="font-size: 15px; background-color: white; width:130px; margin-top: 30px; margin-left: 8px;">
                           <span style="color:#333333;"> Sign In </span> &nbsp;&nbsp;&nbsp;&nbsp;   
                        </a> </div>
                
                        &nbsp;&nbsp;
                -->
                        <!-- X -->

                        <!-- Broken -->
                        <!-- id="menu-toggle" -->
                        <!-- href="#menu-toggle" -->
                <!--
                        <div style="position:fixed; margin-top:40px; display: inline-block; color: white; font-size: 20px;"> <a> <div class="glyphicon glyphicon-remove" style="position:fixed; margin-top:40px; display: inline-block; color: white; font-size: 25px;"> </div> </a> </div>
                -->
                <!-- </li> -->
              
                <!-- <li style="margin-top:40px;"> -->
                <li style="margin-top:30px;">
                    <a href="http://52.89.53.254:3000/plans/types_of_acounts" style="font-size: 105%;"> Plans </a>
                </li>
                <li>
                    <a href="http://52.89.53.254:3000/how_it_works/what_am_i" style="font-size: 105%;"> How it Works </a>
                </li>
                <!-- <li>
                    <a href="http://52.89.53.254:3000/user_testimonies/reviews" style="font-size: 105%;"> User Testimonies </a>
                </li> -->
                <li>
                    <a href="http://52.89.53.254:3000/about/senti_sense" style="font-size: 105%;"> About Senti Sense </a>
                </li>
                <li>
                    <a href="http://52.89.53.254:3000/team/meet" style="font-size: 105%;"> Meet the Team </a>
                </li>
                <li>
                    <a href="http://52.89.53.254:3000/contact/ring_email" style="font-size: 105%;"> Contact Us </a>
                </li>
                <li>
                    <a href="http://52.89.53.254:3000/careers/work" style="font-size: 105%;"> Careers </a>
                </li>
                <li>
                    <br>
                </li>
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-twitter"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-facebook"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-google-plus"></i>
                </li>
            </ul>
            </ul>
            
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <!-- Nav Bar -->
            <div>
                <nav class="navbar">
                   
                    <div class="container-fluid">
                        
                        <div class="" id="myNavbar" align="center">
                                 
                            <div class="navbar-left collapse navbar-collapse"> 

                                <a href="http://www.sentisense.com"> <img src="/images/logo_nav_past.png" class="header-image" height="32.5" alt="" /> </a>

                            </div>

                            <div class="navbar-right"> 
                             
                                    <br>

                                    <a href="http://52.89.53.254:3000/talk_with_a_guide/talk" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-comment" style="color: #3f87ff;"> </div> &nbsp; Talk With a Guide &nbsp;&nbsp;&nbsp;&nbsp; </span> </a>
                                    
                                    <a href="" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-user" style="color: #3f87ff;"> </div> &nbsp; Login &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                    
                                    <a href="#menu-toggle" id="menu-toggle" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-align-right" style="color: #3f87ff;"> </div> &nbsp; Menu &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                
                            </div>
                        </div>
                    </div>

                </nav>
            </div>

            <!-- -->
            <!-- Body of Page -->
            <!-- -->
      
            {{{body}}}

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Handle Bars -->
    <script src="js/handlebars-v4.0.4.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>

</html>