<!DOCTYPE html>
<html lang="en">

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>

    <div class="col-lg-8 col-xs-12">

        <div style="margin-top:4.0%;">

            <row> 
            	
            	<div class="col-lg-6" align="center">  <img src="/images/chris_head_shoot.jpg" class="header-image" height="" alt="" /> </div>
            	<div class="col-lg-6" align="left"> 

            		<h1 style="font-size: 125%; color: #3f87ff"> Cofonder </h1>
            		<br>
            		<h1 style="font-size: 100%;"> chris@sentisense.com </h1>
                    <br>
            		<p style="line-height: 23px;">  
            			 Chris is a junior at Penn State majoring in toxicology. He is the technical brains behind the operation. Chris had a diverse background. He cut his teeth freshman year working in a bioinformatics lab and on systems integration for the Lunar Lion Team. Now a junior, Chris more recently cofounded the Nittany Data Labs (NDL) and now spends much of his time between Senti Sense and the club. Chris teaches machine learning, python, and full stack web development to new members of NDL and manages a diverse portfolio of technical and nontechnical projects. While Chris spends most his time working and coding, outside of work he enjoys relaxing with good friends, taking long walks on the beach and drinking coffee.   
            			      			 
            			 <br>
            			 <br>
            			 <br>

           				<br>
            		</p>

            	</div>
            	
            </row>

            <row> 
            	
            	<div class="col-lg-6" align="right"> 
            		
            	<br><br>

            		<h1 style="font-size: 125%; color: #3f87ff"> Cofonder </h1>
            		<br>
            		<h1 style="font-size: 100%;"> vamshi@sentisense.com </h1>
                    <br>
            		<p style="line-height: 23px;">  
                        Vamshi is a junior at Penn State majoring in industrial engineering. He is the business brains behind the operation. Well networked and an entrepreneur, Vamshi worked extensively in the Inoblue network at Penn State. Vamshi is the director of education and programming for Inoblue's boot camp program. He is also a cofounder of Nittany Data Labs with Chris and spends his time managing project acquisition for the club. Vamshi is a charismatic induvial who now focuses most of his time on growth hacking and expanding the user base for Senti Sense. Outside of Senti Sense, Vamshi enjoys candle lit dinners and hanging out with friends.   
    
            			<br>
            			<br>
            			<br>
            			<br>
         
            		</p>
            	
            	</div>
            	<div class="col-lg-6" align="center"> <br><br> <img src="/images/vamshi_head_shoot.jpg" class="header-image" height="" alt="" /> </div>
            	
            </row>
          
        </div>

    </div>

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>    

</html>