<!DOCTYPE html>
<html lang="en">

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>

    <div class="col-lg-8 col-xs-12">

        <div align="center" style="font-size: 250%; line-height: 70px; margin-top:7.5%;">

            Hey <span style="color: #3f87ff; font-size: 115%; !important"> you </span>
            <br>
            Thanks for <span style="color: #3f87ff; font-size: 115%; !important"> signing up </span>
            <br>
            We apreciate it
            <br>
            If you can <span style="color: #3f87ff; font-size: 115%; !important"> please follow </span>             
            <br>
            <a href="https://twitter.com/SenseSenti" style="text-decoration: none; color: #3f87ff; font-size: 115%; !important"> @SenseSenti </a> and <br> <a href="https://twitter.com/chris_sharkiey" style="text-decoration: none; color: #3f87ff; font-size: 90%; !important"> @chris_sharkiey </a>

            <br><br>

        </div>

    </div>

    <!-- Empty column -->
    <div class="col-lg-2 col-xs-0"> </div>    

</html>